body {
    background-color:rgb(219, 219, 219);
}
.card-body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.capabilities{
    padding-top: 55px;
    padding-bottom: 45px;
}
.capabilities h1 {
    font-weight: bolder;
    padding-bottom: 25px;
}
.capabilities p {
    font-weight: bold;
}
#about-content{
    background-image: url('../Images/artboard2 ABOUT 20percent Opacity.jpg');
    background-color: white;
    background-size: cover;
    min-height:95vh;
    overflow: false;
    
}
.about-row{
    padding-top: 10em;
}
.about-quote{
    font-weight:800;
    font-size: 2em;
    padding-bottom: 2em;
}
.about-name {
    font-weight: bold;
}
.about-title{
    font-weight:600;
}
.about-image {
    height:10rem;
    width:10rem;
    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    .about-image-div{
        font-weight:600;
        padding-bottom: 25px;
    }
    .about-quote{
        font-weight:800;
        font-size: 1.2em;
        padding-bottom: 2em;
    }
    .about-row{
        padding-top:5em;
    }
}
.about-image-div {
    display:flex;
    align-items:center;
    flex-direction: column;
}
.nav-right{
    right: 0px;
}
.contact-content {
    background-image: url('../Images/artboard3 CONTACT background.jpg');
    background-color: white;
    background-size: cover;
    min-height:95vh;
    overflow: false;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contact-form{
    display: flex;
    flex-direction: column;
    width:40%;  
    font-size:large;
    font-weight:bold;
}
.contact-statement {
    padding-bottom: 25px;
}
.contact-question{
    padding-bottom: 25px;
}
@media only screen and (max-width: 768px) {
    .contact-statement{
        font-size: x-large;
        font-weight: bolder;
    }
    .contact-question {
        font-size: large;
        padding-bottom: 25px;
    }
    .contact-form{
        width:90%;  
    }
}
.contact-form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 255, 0) !important;
}
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form button:focus {
    outline: none;
}
.red{
    color: red;
}

.titlecard {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7em;
    display: flex;
    

}
.titlecard-text{
    
    background-color:white;
    width:90%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px; 
    padding-bottom: 60px;
    height: 80%;
    
/* 
    
    align-content: center;
    display: flex; 
    flex-direction: column;
    
*/

}
.titlecard-img img{
    max-height:80%; 
    max-width:80%;

}
@media only screen and (max-width: 768px) {
    .titlecard-text {
    background-color:white;
    width:90%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px; 
    padding-bottom: 60px;
  }
  .titlecard-img img{
    max-height:100%; 
    max-width:100%;

    }
}

.titlecard-center {
    display:flex;
    align-items: center;
    flex-direction: column;
}
.titlecard-title {
    padding-bottom: 65px;
}
.full-width-card{
    margin: 10px 60px 25px 60px;
    background-color: white;
    padding: 25px 15px 25px 15px;

}
#streetwise-logo {
    justify-content: center;
    display: flex;
}
#streetwise-logo img{
    max-width: 25%;
}
.fullwidth-img img{
    width:100vw;
}
.redesigned-img {
    display:flex;
    justify-content: center;
}
.redesigned-img img {
    width: 40vw;
    max-height: 30vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
